@font-face {
  font-family: IRANYekan;
  font-style: normal;
  font-weight: 300; //
  font-display: auto;
  src: url('../fonts/IRANYekan/IRANYekanLight.ttf') format('truetype');
}
@font-face {
  font-family: IRANYekan;
  font-style: normal;
  font-weight: normal; // 400
  font-display: auto;
  src: url('../fonts/IRANYekan/IRANYekanRegular.ttf') format('truetype');
}
@font-face {
  font-family: IRANYekan;
  font-style: normal;
  font-weight: bold; //700
  font-display: auto;
  src: url('../fonts/IRANYekan/IRANYekanBold.ttf') format('truetype');
}
@font-face {
  font-family: IRANYekan;
  font-style: normal;
  font-weight: 800;
  font-display: auto;
  src: url('../fonts/IRANYekan/IRANYekanBold.ttf') format('truetype');
}