.filter-products {
  .selected-filters {
    display: flex;
    flex-wrap: wrap;

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #eeeeee;
      border-radius: 30px;
      color: #7d7d7d;
      padding: 2px 7px;
      margin-bottom: 5px;
      margin-left: 5px;

      i {
        cursor: pointer;
        margin-right: 3px;
        display: flex;
        align-items: center;
        &:hover{
          color:#4d4d4d;
        }
      }
    }
  }
}
