@font-face {
    font-family: "icons";
    src: url("./icons.eot?eedead5844a638df251dadcf2ab8f47a?#iefix") format("embedded-opentype"),
url("./icons.woff2?eedead5844a638df251dadcf2ab8f47a") format("woff2"),
url("./icons.woff?eedead5844a638df251dadcf2ab8f47a") format("woff"),
url("./icons.ttf?eedead5844a638df251dadcf2ab8f47a") format("truetype"),
url("./icons.svg?eedead5844a638df251dadcf2ab8f47a#icons") format("svg");
}

i[class^="ic-"]:before, i[class*=" ic-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ic-arrow:before {
    content: "\f101";
}
.ic-checked:before {
    content: "\f102";
}
.ic-search:before {
    content: "\f103";
}
.ic-shopping-basket:before {
    content: "\f104";
}
.ic-star:before {
    content: "\f105";
}
.ic-toman:before {
    content: "\f106";
}
.ic-unchecked:before {
    content: "\f107";
}
